/* colors.css */

:root {
  /* PRIMARY COLORS */
  --primary-red: #ef4136;
  --primary-orange: #f7941d;
  --primary-dark-red: #b42f26;
  --primary-purple: #7983c0;

  /* SECONDARY COLORS */
  --secondary-blue-dark: #2e3192;
  --secondary-blue-light: #cadcf2;
  --secondary-cream: #fffae7;
  --secondary-sand: #ffd07d;

  /* NEUTRAL */
  --white: #ffffff;
}
